{% extends 'entrance/base.html' %}


{% block form_input %}
    <div class="p">
        <p>Login to continue</p>
    </div>
    
    {% if error_message %}
        <p class="clr-red p"><span class="fa fa-error clr-red"></span> {{error_message}}</p>
    {% endif %}
        
    <input type="text" name="username" placeholder="handle" class="no-brd brd-b-def w-80 p-4 m-2" required>
    <input type="password" name="password" placeholder="password" class="no-brd brd-b-def w-80 p-4 m-2" required>
    {% include 'submit_button.html' with btn_text='Login' %}
    <div class="m-t-b-4 p-2 txt-c"><span>Don't have an account? <a href="/i/organic">Signup</a></span></div>
{% endblock form_input %}
    
