{% extends "emails/to_user_base.html" %}

{% block content %}
  <p>You’ve been invited to join <strong>BowlersNetwork</strong>.</p>
  <p>
    It’s where serious bowlers connect — for tournaments, teams, rewards, and real competition.  
    Whether you're playing for fun or building your legacy, this is where it starts.
  </p>
  <p style="text-align: center;">
    <a href="{{ invite_link }}" class="btn-link">Accept Invitation</a>
  </p>
  <p>If this wasn’t intended for you, feel free to ignore this email.</p>
{% endblock content %}
