{% extends "emails/to_user_base.html" %}

{% block content %}
  <p><strong>🎉 You're officially on the list!</p>

  <p>Welcome to the <strong>BowlersNetwork</strong> revolution — you're now part of the movement that’s about to shake up the world of bowling like never before.</p>

  <p>By pre-registering, you've secured your front-row seat to a game-changing experience. Think exclusive access, early feature drops, and a direct line into the most connected bowling platform ever built.</p>

  <p>We’ll be dropping updates, sneak peeks, and special invites straight into your inbox. Buckle up — it’s going to be one hell of a roll. 🎳</p>

{% endblock content %}
