{% extends "emails/to_user_base.html" %}

{% block content %}
  <p>We’re excited to announce that the <strong>BowlersNetwork Beta</strong> is launching soon!</p>

<p>Thank you for your interest in joining. To ensure the best experience for everyone, users will be onboarded <strong>slot by slot</strong> over the coming days.</p>

<p>To help us move forward with the onboarding process, please take a few minutes to complete this short survey:</p>

<p><a href="https://tripetto.app/run/ARYFJ4M50H">Complete The Survey</a></p>

<p>Your responses will help us better understand your experience and preferences, allowing us to tailor the beta experience to your needs.</p>

<p>We appreciate your time and enthusiasm.<br>
We look forward to welcoming you to the BowlersNetwork community!</p>

<p>- The BowlersNetwork Team</p>

{% endblock content %}
